.button, .toggle-button {
	-fx-background-color:  #4c5052;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 4px, 3px;
	-fx-border-color:      #5c5e5f;
	-fx-border-radius:     4px, 3px;
	-fx-padding:           0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
	-fx-text-fill:         #adaeae;
	-fx-alignment:         CENTER;
	-fx-content-display:   LEFT;
}


.button:pressed, .toggle-button:pressed, .toggle-button:selected {
	-fx-background-color: #64686a;
}


.scroll-pane {
	-fx-background-insets: 0;
	-fx-padding:           0;
}


.scroll-pane:focused {
	-fx-background-insets: 0;
}


.scroll-pane .corner {
	-fx-background-insets: 0;
}


.scroll-bar {
	-fx-background-color:  transparent;
	-fx-background-insets: 0;
}


.scroll-bar:horizontal {
	-fx-pref-height: 12;
}


.scroll-bar:vertical {
	-fx-pref-width: 12;
}



.scroll-bar:focused {
	/* nothing */
}


.scroll-bar .track {
	-fx-background-color:  #2b2b2b;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 6, 5;
}


.scroll-bar > .thumb {
	-fx-background-color:  #4e4e4e;
	-fx-background-radius: 4;
	-fx-background-insets: 3;
}


.scroll-bar > .thumb:hover,
.scroll-bar > .thumb:pressed {
	-fx-background-color: #5b5b5b;
}



.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
	-fx-pref-height:      0;
	-fx-pref-width:       0;
	-fx-background-color: transparent;
}


.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
	-fx-background-color: transparent;
}

